[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = https://github.com/jpescador/hugo-future-imperfect.git
[submodule "public"]
	path = public
	url = git@github.com:neofelisho/neofelisho.github.io.git
